.user-icon {
    padding: 0 14px;
    font-size: 30px;
  }
  
  .nav-spacer {
    flex: 1 1 auto;
  }

  mat-sidenav {
      position: fixed;
    width: 200px;
    height: 100%;
    z-index: 9999;
  }

  mat-toolbar{
    //   overflow: hidden;
    //   position: fixed;
    //   z-index: 100;
  }