.main-container{
    position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

.forgot-card{
    max-width: 450px;
    margin: 5px;
    text-align: center;
}
.example-full-width {
    font-size: 16px;
    width: 100%;
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .main-container{
        position: absolute;
            width: unset;
    }
  }