<div class="main-container">
<mat-card class="forgot-card">
    <mat-card-title>
        Reset Password
    </mat-card-title>
    <mat-card-content>
        <p class="text-center">Please enter your email address to request a password reset.</p>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" [formControl]="emailFormControl">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </form>
    </mat-card-content>
    <mat-card-actions >
        <button mat-raised-button routerLink='/login' >
            <mat-icon >arrow_back</mat-icon>
          Go to login page
        </button>
        <button mat-raised-button (click)="auth.ForgotPassword(emailFormControl.value)">
            <mat-icon >check_circle_outline</mat-icon>
            Submit
        </button>
    </mat-card-actions>
</mat-card>

</div>