<div class="example-container">
  <form [formGroup]='formGroup' autocomplete="off" (ngSubmit) = "createUser()">
    <mat-form-field class="expand" appearance="outline">
      <mat-label>Full Name</mat-label>

      <mat-icon matSuffix>account_circle</mat-icon>

      <input
        matInput
        type='text'
        placeholder="Enter your Full Name"
        formControlName="name"
        autocomplete="name"
      />
      <mat-error *ngIf="name.invalid">{{ getErrorMessageName() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="expand" appearance="outline">
      <mat-label>Email</mat-label>

      <mat-icon matSuffix>email</mat-icon>

      <input
      type='email'
        matInput
        autocomplete="email"
        placeholder="Enter your email"
        formControlName="email"
      />
      <mat-error *ngIf="name.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="expand" appearance="outline">
      <mat-label>New Password</mat-label>
      <input
        matInput
        placeholder="Enter your password"
        formControlName="password"
        autocomplete="new-password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">{{ getErrorMessageP1() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="expand" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        placeholder="Re-enter your Password"
        formControlName="password2"
        autocomplete="new-password"
        [type]="hide ? 'password' : 'text'"
      />

      <mat-icon matSuffix>{{ matched ? "done" : "error" }}</mat-icon>

      <mat-error *ngIf="password2.invalid">{{ getErrorMessageP2() }}</mat-error>
    </mat-form-field>
  </form>

  <button mat-raised-button type="submit" [disabled]='formGroup.invalid' class="expand login-button" >
    SIGN UP
  </button>
</div>
