<div class="center-vh">
<mat-card class="verify-card" *ngIf="auth.userData">
    <mat-card-title>
      Verify your email
    </mat-card-title>
<mat-card-subtitle>
    <mat-icon class="verify-icon">security</mat-icon>
</mat-card-subtitle>
    <mat-card-content>
        <div class="formGroup" *ngIf="auth.userData as user">
        <p class="text-center">A confirmation email was sent to <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
    </div>
    </mat-card-content>


    <mat-card-actions>
            
            <button mat-raised-button routerLink='/login' >
                <mat-icon >arrow_back</mat-icon>
              Go to login page
            </button>
            <button mat-raised-button type="button" (click)="auth.SendVerificationMail()">
                <mat-icon>mail</mat-icon>
              Resend Verification Email
            </button>
    </mat-card-actions>

</mat-card>

<mat-card class="verify-card" *ngIf="!auth.userData">
    <mat-card-title>
       ERROR
    </mat-card-title>
<mat-card-subtitle>
    <mat-icon class="verify-icon">close</mat-icon>
</mat-card-subtitle>
    <mat-card-content>
        <div class="formGroup">
        <p class="text-center">Please try and login before you visit this page</p>
    </div>
    </mat-card-content>

    <mat-card-actions>
          <div class="formGroup" >
            <a mat-raised-button routerLink='/login' >
                <mat-icon mat-button-icon>arrow_back</mat-icon>
              Go back to login page
            </a>
          </div>
    </mat-card-actions>

</mat-card>
</div>