.my-container{
    padding: 20px;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    // width: 100%;

  }
  
  .mat-form-field {
    max-width: 40rem;
    width: 100%;
  }
  .from-container > * {
    
    
  }
  
  .right-align {
    text-align: right;
  }
  
  input.right-align::-webkit-outer-spin-button,
  input.right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.right-align {
    -moz-appearance: textfield;
  }