.pop-container{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
    
}

.icon {
    margin-right: 1.8rem;
    .mat-icon {
        font-size: 5rem;
    }

}

.detail {
    width: 100%;
}
.mat-dialog-actions{
    width: 100%;
    text-align: right;
}