<div class="my-container">
    <h2 class="mat-h2">Change Password</h2>
    <mat-divider></mat-divider><br>
    
    <form class="form-container" [formGroup]="passwordGroup" (ngSubmit)="resetPassword()" >
    
        <mat-form-field hidden>
            <mat-label>Username</mat-label>
            <input matInput type="text" autocomplete="username email" value="username">
          </mat-form-field>

          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput [type]="hide[0] ? 'password' : 'text'" autocomplete="new-password" formControlName='newpass'>
            <button type="button" mat-icon-button matSuffix (click)="hide[0] = !hide[0]" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide[0]">
            <mat-icon>{{hide[0] ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>    
    
          <mat-form-field>
            <mat-label>Re-type Password</mat-label>
            <input matInput [type]="hide[1] ? 'password' : 'text'" autocomplete="new-password" formControlName='confirmpass'>
            <button type="button" mat-icon-button matSuffix (click)="hide[1] = !hide[1]" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide[1]">
            <mat-icon>{{hide[1] ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <button mat-raised-button type="submit" color="primary">Change Password</button>
    </form>
    
    
</div>
