/* Structure */
table {
    width: 100%;
  }
  
.mat-form-field {
font-size: 14px;
width: 100%;
}

.input-field-width{
    max-width: 30rem;
}

.my-container{
    margin: 2rem;
    max-width: 40rem;
}