<form [formGroup]= "myGroup" >
<mat-card>
  <mat-card-content>
    <mat-grid-list cols="16" rowHeight="80px">
      <mat-grid-tile
        *ngFor="let card of cards | async"
        [colspan]="card.cols"
        [rowspan]="card.rows"
      >
        
          <div >
            <mat-form-field class="form-container" *ngIf="card.name === 'group'">
              
                <mat-label>Choose Group</mat-label>
                <mat-select
                placeholder="Choose Group"
                formControlName="groupName"
                [(value)]="selectedGroup"
                >
                    <mat-option *ngFor="let customerGroup of customerGroups" [value]="customerGroup">
                    {{customerGroup.groupName}}
                    </mat-option>
                </mat-select
                >
              
                <!-- <input
                type="text"
                placeholder="Choose Group"
                aria-label="Number"
                matInput
                formControlName="groupName"
                [matAutocomplete]="auto"
                required
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let customerGroup of customerGroups" [value]="customerGroup.groupName">
                  {{ customerGroup.groupName }}
                </mat-option>
              </mat-autocomplete> -->
            </mat-form-field>
            <div class="center" *ngIf="card.name === 'available'" matAutocompleteOrigin #origin="matAutocompleteOrigin">
            <a>{{selectedGroup.available || "0"}}</a><br />
          <a>Available</a>
        </div>
          </div>
        
        
        
        
        <div class="form-container" *ngIf="card.name === 'quantity'">
          <mat-form-field>
            <input
            type = "number"
            formControlName="quantity"
              matInput
              placeholder="Quantity"
            />
            <mat-error *ngIf="myGroup.invalid && !myGroup.hasError('min', 'quantity')">
                Enter a valid number
            </mat-error>
            <mat-error *ngIf="myGroup.getError('min','quantity')">
                Minimum 50
            </mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="card.name === 'amount'">
          <h1>{{cost}}<small>৳</small></h1>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
</form>
