<h4 class="mat-h4 sub-header">Edit Contact - SMS</h4>
<div class="my-container">

    <table cellspacing="0"><tr>
        <td><mat-form-field>
          <input matInput placeholder="Start typing to add a new group" [(ngModel)]="newGroup">
        </mat-form-field></td>
        <td><button mat-icon-button (click)="addGroup()" [disabled]="!newGroup">
            <mat-icon>add_box</mat-icon>
        </button>
        </td>
        <td>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
              </mat-form-field>
        </td>
      </tr></table>



      
      <div class="mat-elevation-z1">
      <table mat-table [dataSource]="dataSource">
      
        <!-- Position Column -->
        <ng-container matColumnDef="group">
          <th mat-header-cell *matHeaderCellDef> Group </th>
          <td mat-cell *matCellDef="let element"> 
              <div *ngIf="!element.editable">{{element.group}}</div> 
              <mat-form-field class="input-field-width" *ngIf="element.editable" >
                <input matInput [(ngModel)]="oldGroup" required>
            </mat-form-field>
            </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="contacts">
          <th mat-header-cell *matHeaderCellDef> Contacts </th>
          <td mat-cell *matCellDef="let element"> {{element.contacts}} </td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matTooltip]="element.editable?'Update':'Edit'" matTooltipPosition="left" (click)="editGroup(element)">
                    <mat-icon>{{element.editable?'done':'edit'}}</mat-icon>
                </button>
                <button mat-icon-button [matTooltip]="element.editable?'Cancel':'Remove'" matTooltipPosition="right" (click)="deleteGroup(element)">
                    <mat-icon>{{element.editable?'close':'delete'}}</mat-icon>
                </button>
            </td>
          </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="spinner"><mat-progress-spinner *ngIf="isBusy" mode="indeterminate"></mat-progress-spinner></div>

      <mat-paginator pageSize="10" hidePageSize="true"></mat-paginator>
    </div>
</div>
