/* Structure */
.spinner{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  