<form [formGroup]="email">
  <div class="container expand">

    <mat-form-field>
      <mat-icon matPrefix>subject</mat-icon>
      <input matInput placeholder="Subject" [formControl]="subject">
    </mat-form-field>

    <div class="form-group has-feedback">
      <ckeditor
        [formControl]="message"
        name="myckeditor"
        required
        [config]="ckeConfig"
        debounce="200"
        (paste)="onPaste($event)"
        (change)="onChange($event)"
      >
      </ckeditor>
    </div>
    <button
      [disabled]="message.invalid"
      mat-stroked-button
      color="primary"
      style="margin: 20px 0px;"
      (click)="sendTestEmail()"
    >
      Send me a test email
    </button>
  </div>
</form>
