<h4 class="mat-h4 sub-header">Edit Contact - SMS</h4>
<div class="my-container">

    <table cellspacing="0"><tr>
        <td>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
          </mat-form-field>
        </td>
        <td style="text-align: right;">
          <button color="primary" mat-raised-button routerLink='/managegroups/sms/import'>Add Contact</button>

        </td>
      </tr></table>

      <div class="mat-elevation-z1">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element">
              <div *ngIf="!element.editable">{{element.name}}</div>

                <input class="input-field-width" *ngIf="element.editable" [(ngModel)]="oldName" required>
           
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="cell">
          <th mat-header-cell *matHeaderCellDef> Phone number </th>
          <td mat-cell *matCellDef="let element"> 
            <div *ngIf="!element.editable">{{element.cell}}</div>
            <input class="input-field-width" *ngIf="element.editable" [(ngModel)]="oldCell" required>
          </td>
        </ng-container>

        <ng-container matColumnDef="profession">
          <th mat-header-cell *matHeaderCellDef> Group </th>
          <td mat-cell *matCellDef="let element"> {{element.profession}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button *ngIf="!element.editable" matTooltip='Edit' matTooltipPosition="left" (click)="editGroup(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button *ngIf="element.editable" matTooltip='Update' matTooltipPosition="left" (click)="modifyContact(element)">
                    <mat-icon>done</mat-icon>
                </button>

                <button mat-icon-button *ngIf="!element.editable" matTooltip='Remove' matTooltipPosition="right" (click)="deleteGroup(element)">
                    <mat-icon>delete</mat-icon>
                </button>

                <button mat-icon-button *ngIf="element.editable" matTooltip='Cancel' matTooltipPosition="right" (click)="cancelAction(element)">
                    <mat-icon>close</mat-icon>
                </button>
            
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="spinner"><mat-progress-spinner *ngIf="isBusy" mode="indeterminate"></mat-progress-spinner></div>

      <mat-paginator pageSize="10" hidePageSize="true"></mat-paginator>
    </div>
</div>
