<mat-toolbar>
    <h1 class="mat-h1">Dashboard</h1>
</mat-toolbar>

<div class="grid-container">

  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile
      *ngFor="let card of cards | async"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mat-card
        class="dashboard-card text-center"
        *ngIf="
          !(card.title === 'CHART' || card.title === 'RECENT TRANSACTIONS')
        "
      >
        <mat-card-title class="dashboard-card-content">
          <div>{{ card.content }}</div>
        </mat-card-title>
        <mat-card-footer>
          <mat-card-subtitle>{{ card.title }}</mat-card-subtitle>
        </mat-card-footer>
      </mat-card>
      <mat-card class="dashboard-card" *ngIf="card.title === 'CHART'">
        <mat-card-content>
          <app-charts></app-charts>
        </mat-card-content>
      </mat-card>
      <mat-card
        class="dashboard-card"
        *ngIf="card.title === 'RECENT TRANSACTIONS'"
      >
        <mat-card-subtitle>
          <div>{{ card.title }}</div>
        </mat-card-subtitle>
        <mat-card-content>
          <app-recent-tranx [tranxData]="card.content"></app-recent-tranx>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
