

<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <div class="grid-container">
            <h1 class="mat-h1">Manage Groups</h1>
        </div>
            <mat-action-list>
                <!-- <button mat-list-item>
                    <mat-icon mat-list-icon>fact_check</mat-icon>
                    <div mat-line [routerLink]="['/managegroups/available']">Available Groups</div>
                  </button>
                  <mat-divider></mat-divider> -->
                <div mat-subheader>SMS Groups</div>
                <button mat-list-item [routerLink]="['/managegroups/sms/editgroup']">
                  <mat-icon mat-list-icon>group_add</mat-icon>
                  <div mat-line>Edit Groups</div>
                </button>
                <button mat-list-item [routerLink]="['/managegroups/sms/contactlist']">
                    <mat-icon mat-list-icon>contact_phone</mat-icon>
                    <div mat-line>Contact list</div>
                </button>
                  <button mat-list-item [routerLink]="['/managegroups/sms/import']">
                    <mat-icon mat-list-icon>person_add</mat-icon>
                    <div mat-line>Import Contact</div>
                </button>
                <mat-divider></mat-divider>
                <div mat-subheader>Email Groups</div>
                <button mat-list-item [routerLink]="['/managegroups/email/editgroup']">
                    <mat-icon mat-list-icon>group_add</mat-icon>
                    <div mat-line>Edit Groups</div>
                </button>
                  <button mat-list-item [routerLink]="['/managegroups/email/editgroup']">
                      <mat-icon mat-list-icon>contact_mail</mat-icon>
                      <div mat-line>Contact list</div>
                    </button>
                    <button mat-list-item [routerLink]="['/managegroups/email/editgroup']">
                      <mat-icon mat-list-icon>person_add</mat-icon>
                      <div mat-line>Import Contact</div>
                    </button>
              </mat-action-list>
        

    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>