$md-bdgreen: (
    50 : #e0ede9,
    100 : #b3d1c8,
    200 : #80b3a3,
    300 : #4d957e,
    400 : #267e63,
    500 : #006747,
    600 : #005f40,
    700 : #005437,
    800 : #004a2f,
    900 : #003920,
    A100 : #6fffb2,
    A200 : #3cff97,
    A400 : #09ff7b,
    A700 : #00ef6f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-bdred: (
    50 : #fbe5e4,
    100 : #f4bfbb,
    200 : #ed948e,
    300 : #e56960,
    400 : #e0493e,
    500 : #da291c,
    600 : #d62419,
    700 : #d01f14,
    800 : #cb1911,
    900 : #c20f09,
    A100 : #ffeded,
    A200 : #ffbbba,
    A400 : #ff8987,
    A700 : #ff706e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);