/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '@angular/material/prebuilt-themes/indigo-pink.css';
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '@angular/material/prebuilt-themes/purple-green.css';


@import 'src/colors.scss';
@import '~@angular/material/theming';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
@include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($md-bdgreen);
$accent:  mat-palette($md-bdred);

// // The warn palette is optional (defaults to red).
// $sms-app-warn:    mat-palette($mat-pink, A200, A100, A400);

// // Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
@include angular-material-theme($theme);


html, body { min-height: 100vh;
    height: auto;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;  }
// body { height: 100%; margin: 0; }

*:focus {
    outline: none !important;
    // border: 0 !important;
}

.sub-header {
    margin: 1rem;
}

.mat-h1{
    margin: 1.5rem;
}