<form [formGroup] = 'sms'>
<div class="container expand">
    <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <textarea
        [formControl]='message'
        matTextareaAutosize
        [matAutosizeMaxRows] = 12
        [matAutosizeMinRows] = 12
        matInput
        #input
        placeholder="Type your message..."
        maxlength="255"
        ></textarea
        >
    <mat-error align="start">{{ message.hasError('required')? 'This field cannot be empty.': '' }}</mat-error>
        <mat-hint align="end">{{(255 - input.value?.length) || 0}} Characters left</mat-hint>
    </mat-form-field>
    
    <button [disabled]= 'message.invalid' mat-stroked-button color='primary' style="margin: 20px 0px;">Send me a test sms</button>

</div>
</form>